{{#with sections.projects}}
    <section id="projects" class="projects-section text-center">
        <h2>{{ title }}</h2>
        <div id="carousel-projects" class="carousel slide projects-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {{#each slideshow}}
                    <li data-target="#carousel-projects" data-slide-to="{{ @index }}" {{#if @first}} class="active"{{/if}}></li>
                {{/each}}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {{#each slideshow}}
                    <div class="item{{#if @first}} active{{/if}}" style="background-image: url(/img/projects/{{ imageURL }})">
                        <div class="carousel-caption">
                            <span class="carousel-caption-title">
                                <a class="badgelink" target="_blank" href="http://{{ url }}"><i class="fa fa-link"></i></a>{{ name }}
                            </span>
                            <span class="carousel-caption-details">
                                {{{ subtitle }}}<br />
                                {{#each tags}}
                                    <span class="label label-info">{{ this }}</span>{{#is @index 2}}<br />{{/is}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                {{/each}}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-projects" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-projects" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
</section>
{{/with}}
