{{#with sections.projects}}
    <section id="projects" class="container projects-section">
        <h2 class="text-center">{{ title }}</h2>
	{{#each entries}}
	    <div class="row">
		    <div class="col-xs-12 media item">
			<div class="pull-alternating">
				<picture class="media-object">
					<source srcset="/img/projects/{{ imageURL }}-small.png" media="(max-width: 600px)">
					<source srcset="/img/projects/{{ imageURL }}-medium.png" media="(max-width: 1000px)">
					<source srcset="/img/projects/{{ imageURL }}-large.png" media="(min-width: 1001px)">
					<img alt="" src="/img/projects/{{ imageURL }}-large.png">
				</picture>
			</div>
			<div class="media-body caption">
			    <div class="caption-title">
				<a class="badgelink" alt="Link zur Live-Seite" target="_blank" href="http://{{ url }}"><i class="icon-link"></i></a>{{ name }}
			    </div>
			    <div class="caption-details">
				{{{ subtitle }}}<br />
				{{#each tags}}
				    <span class="label label-info">{{ this }}</span>{{#is @index 2}}<br />{{/is}}
				{{/each}}
			    </div>
			</div>
		    </div>
            </div>
	{{/each}}
        </div>
</section>
{{/with}}
